body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^='img-slide'],
[class*=' img-slide'] {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
}

.img-slide1 {
  background-image: url('./slider-image/chart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-slide2 {
  background-image: url('./slider-image/chart.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.img-slide3 {
  background-image: url('./slider-image/chart2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
